# Variables de la aplicación Flask
FLASK_APP=app.py
FLASK_ENV=development

# Credenciales de Supabase (reemplazar con tus valores)
DATABASE_URL="postgresql://postgres.user:password@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
SUPABASE_JWT_SECRET="tu_jwt_secret_aqui"
SUPABASE_URL="https://tu_proyecto.supabase.co"
SUPABASE_SERVICE_KEY="tu_clave_service_role_aqui"

# N8N Configuration
GENERIC_TIMEZONE=America/Santiago
N8N_WEBHOOK_URL_GET_DIS="http://n8n:5678/webhook/tu_webhook_id_aqui"
N8N_WEBHOOK_URL_UPLOAD_DI="http://n8n:5678/webhook/tu_webhook_id_aqui"
N8N_WEBHOOK_URL_DELETE_DI="http://n8n:5678/webhook/tu_webhook_id_aqui"