# Entorno y Secretos
.env
__pycache__/
*.pyc

# Datos de ejecución y volúmenes de Docker
n8n_data/

# Dependencias de Python
.venv/
*.egg-info/
dist/
build/

# Dependencias de Node
node_modules/
npm-debug.log
yarn-error.log

# VSC
.vscode/