# Entorno y Secretos
.env
.env.prod
n8n_credentials.json
__pycache__/
*.pyc
.gitignore

# Datos de ejecución y volúmenes de Docker
n8n_data/

# Dependencias de Python
.venv/
*.egg-info/
dist/
build/

# Dependencias de Node
node_modules/
npm-debug.log
yarn-error.log

# VSC
.vscode/
*.log

validador-qm-key.pem